h1{
    color: red;
    text-align: center;
}

h2{
    color: green;
    text-align: center;
}

p{
    background-color: lightgray;
    text-align: center;
}
body{
    background-image: url("https://plus.unsplash.com/premium_photo-1668799885579-b71d318e4e79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
}